
/* content section*/

/* mobile view */

* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.content-section {
    background-color: black;
    text-align: center;
    padding: 50px 5%;
    border-top: 7px solid rgb(47, 45, 45);
}
.title {
    font-size: 28px;
    color: blanchedalmond;
}
.subtitle {
    font-size: 18px;
    color: blanchedalmond;
    margin: 14px 0px;
}
.content-image {
    width: 80%;
}

/* tab view */
@media only screen and (min-width: 450px) {
    .title {
        font-size: 48px;
    }
    .subtitle {
        font-size: 28px;
    }
}

/* desktop view */

@media only screen and (min-width: 750px) {
    .content-section {
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .content-image {
        width: 50%;
    }
}

/* footer section*/

/* mobile view*/
footer {
    background-color: black;
    border-top: 8px solid rgb(47, 45, 45);
    padding: 50px 5%;
}

.footer-text {
    font-size: 16px;
    color: rgb(43, 40, 40);
    margin-bottom: 30px;
}

.footer-options {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.footer-link {
    font-size: 13px;
    color: rgb(43, 40, 40);
    margin-bottom:16px;
    width: 50%;
}

/* tab view*/
.footer-link {
    width: 33%;
}

/* desktop view*/
.footer-link {
    width: 25%;
}

